@model JSandwiches.Models.DTO.FoodDTO.AddOnDTO

@{
    ViewData["Title"] = "Add Ons";
}

<head>
    <link href="~/css/details.css" rel="stylesheet" asp-append-version="true" />
</head>

<form class="content-container center-container-col">
    <div class="title_heading">
        <h1>Details</h1>
    </div>

    <div class="form-sect">
@*         <div class="form_title">
            <h3>Customer Personal Information</h3>
        </div> *@

        <div class="input-group">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>


        </div>

    </div>

    <div class="button-group center-container">
        <button asp-action="Index" class="button cancel">Return</button>
        <button asp-action="Edit" asp-route-id="@Model.Id" class="button create">Edit</button>
    </div>

</form>



